


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>

        Collisions &middot;

    </title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">

      <link href="../../static/assets/css/toolkit-inverse.css" rel="stylesheet">


    <link href="../../static/assets/css/application.css" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyDksCOY76WD68PM33lEu7o1YyMBnxcGXs4"></script>
    <script type="text/javascript" src="../../static/js/gmaps.js"></script>
    <script type="text/javascript" src="../../static/js/collisions.js"></script>
    <script type="text/javascript" src="../../static/js/markerclusterer.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/examples.css" />

    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */

      .map_container {
          margin-top:20px;
          margin-bottom: 10px;
          text-align:center;
          width: 96.5%;
      }
      .map_axu {
          width: 100%;
          margin-left: 15px;
      }

      #map {
          height: 400px;
          margin-right:30px;
      }
      #worldmap {
          height: 400px;
          margin-right:30px;
      }

      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
    </style>
  </head>


<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 sidebar">
        <nav class="sidebar-nav">
          <div class="sidebar-header">
            <button class="nav-toggler nav-toggler-sm sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-sm">
              <span class="sr-only">Toggle nav</span>
            </button>
            <a class="sidebar-brand img-responsive" href="/admin/">
              <span class="icon icon-info-with-circle sidebar-brand-icon"></span>
            </a>
          </div>

          <div class="collapse nav-toggleable-sm" id="nav-toggleable-sm">
            <ul class="nav nav-pills nav-stacked">
              <li class="nav-header">Dashboards</li>
              <li>
                <a href="https://petercanmakit.github.io/IPIM_static/IPIM/templates/admin/">Overview</a>
              </li>
              <li class="active">
                <a href="https://petercanmakit.github.io/IPIM_static/IPIM/templates/admin/collisions.html">
                  Collisions
                </a>
              </li>

              <li class="nav-header">Analysis</li>
              <li >
                <a href="https://petercanmakit.github.io/IPIM_static/IPIM/templates/admin/download.html">
                  Download
                </a>
              </li>
              <li>
                <a href="https://petercanmakit.github.io/IPIM_static/IPIM/templates/admin/mark_tag.html">
                  Mark tag
                </a>
              </li>
            </ul>
            <hr class="visible-xs m-t">
          </div>
        </nav>
      </div>
      <div class="col-sm-10 content">
        <div class="dashhead">
          <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">Analysis</h6>
            <h2 class="dashhead-title">Collisions</h2>
          </div>
        </div>

<div class="hr-divider m-t-md m-b">
  <h3 class="hr-divider-content hr-divider-heading">Cluster of collision spots</h3>
</div>

<div class="row m-t-sm">
    <div class="map_axu">
        Click circles to see the spots in the cluster, click markers to see the information.
    </div>
    <div class="container map_container">
        <div class="row">
            <div id="worldmap"></div>
        </div><br>
    </div>
</div>
<script type="text/javascript">
    spots = [[40.806435, -73.953484], [40.808124, -73.956137], [44.369586, -100.330134], [40.7576601499703, -73.969144821167], [42.326498708299, -72.6392197608948], [39.794141, 116.327383], [39.802417, 116.314011]];
    cids = [1,2,3,4,5,6,7];
    var worldmap = drawWorldMap(spots, cids, 'worldmap', "../../static/clusterimg/m");
</script>


<div class="hr-divider m-t-md m-b">
  <h3 class="hr-divider-content hr-divider-heading">Check a route by CID</h3>
</div>

<div class="row m-t-sm">
    <div class="map_axu">
        Select one route by inserting CID. CID is show on the marker.
    </div>
    <!--- slelect by cid --->
    <form class="select_route" action="/admin/collisions/" method="post">
        <div class="btn">
          <div class="btn-toolbar-item input-with-icon">
            <input type="number" value="" class="form-control" name="cid" min="1" placeholder="Collision ID">
            <span class="icon">#</span>
          </div>
        </div>
        <input class="btn btn-success" type="submit" name="select_route" value="Select" ></input>
    </form>
</div>

<div class="row m-t-sm">

        <div class="map_axu">
            Collision ID: 1,
            Submit Type: User<br>
            Route: <span id="path_str">[40.7626010936513, -73.982105255127, 40.7644863569303, -73.9847660064697, 40.7667616034633, -73.9828777313232]</span>
        </div>

        <div class="container map_container">
            <div class="row">
                <div id="map"></div>
            </div><br>
        </div>

        <div class="map_axu">
            <button class="btn btn-primary" id="mapPrint"><span class="icon icon-print"></span> Print</button>
        </div>
</div>



<hr class="m-t">

      </div>
    </div>
  </div>

    <script src="../../static/assets/js/jquery.min.js"></script>
    <script src="../../static/assets/js/chart.js"></script>
    <script src="../../static/assets/js/tablesorter.min.js"></script>
    <script src="../../static/assets/js/toolkit.js"></script>
    <script src="../../static/assets/js/application.js"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>
  </body>
</html>
