


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>

        Overview &middot;

    </title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">

      <link href="../../static/assets/css/toolkit-inverse.css" rel="stylesheet">


    <link href="../../static/assets/css/application.css" rel="stylesheet">
    <script   src="https://code.jquery.com/jquery-3.2.1.js"   integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="   crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
    <script type="text/javascript" src="../../static/js/admin.js"></script>
    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
    </style>
  </head>


<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 sidebar">
        <nav class="sidebar-nav">
          <div class="sidebar-header">
            <button class="nav-toggler nav-toggler-sm sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-sm">
              <span class="sr-only">Toggle nav</span>
            </button>
            <a class="sidebar-brand img-responsive" href="/admin/">
              <span class="icon icon-info-with-circle sidebar-brand-icon"></span>
            </a>
          </div>

          <div class="collapse nav-toggleable-sm" id="nav-toggleable-sm">
            <ul class="nav nav-pills nav-stacked">
              <li class="nav-header">Dashboards</li>
              <li class="active">
                <a href="/admin/">Overview</a>
              </li>
              <li >
                <a href="/admin/collisions/">
                  Collisions
                </a>
              </li>

              <li class="nav-header">Analysis</li>
              <li >
                <a href="/admin/download/">
                  Download
                </a>
              </li>
              <li>
                <a href="/admin/mark_analyzed/">
                  Mark analyzed
                </a>
              </li>
            </ul>
            <hr class="visible-xs m-t">
          </div>
        </nav>
      </div>
      <div class="col-sm-10 content">
        <div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Dashboards</h6>
    <h2 class="dashhead-title">Overview</h2>
  </div>
</div>

<div class="hr-divider m-t-md m-b">
  <h3 class="hr-divider-content hr-divider-heading">Quick stats</h3>
</div>

<div class="row statcards">
  <div class="col-sm-6 col-lg-6 m-b">
    <div class="statcard statcard-success">
      <div class="p-a">
        <span class="statcard-desc">Page views</span>
        <h2 class="statcard-number">
          {{ pv_total[1][0] }}
        </h2>
        <hr class="statcard-hr m-b-0">
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-6 m-b">
    <div class="statcard statcard-primary">
      <div class="p-a">
        <span class="statcard-desc">Collisions</span>
        <h2 class="statcard-number">
          {{ cnt_total[1][0] }}
        </h2>
        <hr class="statcard-hr m-b-0">
      </div>
    </div>
  </div>
</div>


<div class="hr-divider m-t-md m-b">
  <h3 class="hr-divider-content hr-divider-heading">Page views per time period</h3>
</div>

<div class="row text-center">
    <div class="row">
        <div class="col col-lg-6">
            Show bar chart by:
        </div>
        <div id="myButtons" class="btn-group col-lg-6" data-toggle="buttons">
          <label class="btn btn-primary active">
            <input type="radio" name="optionsPv"  autocomplete="off" checked value="days"> Days
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="optionsPv" autocomplete="off" value="weeks"> Weeks
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="optionsPv"  autocomplete="off" value="months"> Months
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="optionsPv" autocomplete="off" value="years"> Years
          </label>
        </div>
    </div>
</div>

<canvas id="daysChartPv" height="100" style="display: block;"></canvas>
<canvas id="weeksChartPv" height="100" style="display: none;"></canvas>
<canvas id="monthsChartPv" height="100" style="display: none;"></canvas>
<canvas id="yearsChartPv" height="100" style="display: none;"></canvas>

<script type="text/javascript">
    drawBarChart({{ pv_day[1]|safe }}, "Page views per day", {{ pv_day[0]|safe }}, "rgb(24, 179, 126)", 'daysChartPv');
    drawBarChart({{ pv_week[1]|safe }}, "Page views per week", {{ pv_week[0]|safe }}, "rgb(24, 179, 126)", 'weeksChartPv');
    drawBarChart({{ pv_month[1]|safe }}, "Page views per month", {{ pv_month[0]|safe }}, "rgb(24, 179, 126)", 'monthsChartPv');
    drawBarChart({{ pv_year[1]|safe }}, "Page views per year", {{ pv_year[0]|safe }}, "rgb(24, 179, 126)", 'yearsChartPv');

</script>

<script type="text/javascript">
(function() {
    var showDaysChartPv = function() {
        // $("#daysChartPv").css({"display": "block"});
        $("#daysChartPv").fadeIn();
        $("#weeksChartPv").css({"display": "none"});
        $("#monthsChartPv").css({"display": "none"});
        $("#yearsChartPv").css({"display": "none"});
    };
    var showWeeksChartPv = function() {
        $("#daysChartPv").css({"display": "none"});
        $("#weeksChartPv").fadeIn();
        $("#monthsChartPv").css({"display": "none"});
        $("#yearsChartPv").css({"display": "none"});

    };
    var showMonthsChartPv = function() {
        $("#daysChartPv").css({"display": "none"});
        $("#weeksChartPv").css({"display": "none"});
        $("#monthsChartPv").fadeIn();
        $("#yearsChartPv").css({"display": "none"});
    };
    var showYearsChartPv = function() {
        $("#daysChartPv").css({"display": "none"});
        $("#weeksChartPv").css({"display": "none"});
        $("#monthsChartPv").css({"display": "none"});
        $("#yearsChartPv").fadeIn();
    };

    // onclick vs. onchange
    var trans = document.getElementsByName('optionsPv');

    for (var i=0, len=trans.length; i<len; i++) {

        trans[i].onchange = function() {
            var typestr = this.value; // days, weeks, months, years

            switch(typestr) {
                case "days":
                    showDaysChartPv();
                    break;
                case "weeks":
                    // alert("wweekk")
                    showWeeksChartPv();
                    break;
                case "months":
                    showMonthsChartPv();
                    break;
                case "years":
                    showYearsChartPv();
                    break;
                default:
                    showDaysChartPv();
            }
        };
    }

}());
</script>

<div class="hr-divider m-t-md m-b">
  <h3 class="hr-divider-content hr-divider-heading">Complete sets per time period</h3>
</div>

<div class="row text-center">
    <div class="row">
        <div class="col col-lg-6">
            Show bar chart by:
        </div>
        <div id="myButtons" class="btn-group col-lg-6" data-toggle="buttons">
          <label class="btn btn-primary active">
            <input type="radio" name="options"  autocomplete="off" checked value="days"> Days
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="options" autocomplete="off" value="weeks"> Weeks
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="options"  autocomplete="off" value="months"> Months
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="options" autocomplete="off" value="years"> Years
          </label>
        </div>
    </div>
</div>

<canvas id="daysChart" height="100" style="display: block;"></canvas>
<canvas id="weeksChart" height="100" style="display: none;"></canvas>
<canvas id="monthsChart" height="100" style="display: none;"></canvas>
<canvas id="yearsChart" height="100" style="display: none;"></canvas>

<script type="text/javascript">
    drawBarChart({{ cnt_day[1]|safe }}, "Sets per day", {{ cnt_day[0]|safe }}, "rgb(25, 151, 198)", 'daysChart');
    drawBarChart({{ cnt_week[1]|safe }}, "Sets per week", {{ cnt_week[0]|safe }}, "rgb(25, 151, 198)", 'weeksChart');
    drawBarChart({{ cnt_month[1]|safe }}, "Sets per month", {{ cnt_month[0]|safe }}, "rgb(25, 151, 198)", 'monthsChart');
    drawBarChart({{ cnt_year[1]|safe }}, "Sets per year", {{ cnt_year[0]|safe }}, "rgb(25, 151, 198)", 'yearsChart');
</script>

<script type="text/javascript">
(function() {
    var showDaysChart = function() {
        $("#daysChart").fadeIn();
        $("#weeksChart").css({"display": "none"});
        $("#monthsChart").css({"display": "none"});
        $("#yearsChart").css({"display": "none"});
    };
    var showWeeksChart = function() {
        $("#daysChart").css({"display": "none"});
        $("#weeksChart").fadeIn();
        $("#monthsChart").css({"display": "none"});
        $("#yearsChart").css({"display": "none"});
    };
    var showMonthsChart = function() {
        $("#daysChart").css({"display": "none"});
        $("#weeksChart").css({"display": "none"});
        $("#monthsChart").fadeIn();
        $("#yearsChart").css({"display": "none"});
    };
    var showYearsChart = function() {
        $("#daysChart").css({"display": "none"});
        $("#weeksChart").css({"display": "none"});
        $("#monthsChart").css({"display": "none"});
        $("#yearsChart").fadeIn();
    };

    // onclick vs. onchange
    var trans = document.getElementsByName('options');

    for (var i=0, len=trans.length; i<len; i++) {
        // trans[i].onclick = function() {
        //     alert(trans.value + "click");
        // };

        trans[i].onchange = function() {
            // alert(this.value + "change");
            var typestr = this.value; // days, weeks, months, years

            switch(typestr) {
                case "days":
                    showDaysChart();
                    break;
                case "weeks":
                    showWeeksChart();
                    break;
                case "months":
                    showMonthsChart();
                    break;
                case "years":
                    showYearsChart();
                    break;
                default:
                    showDaysChart();
            }
        };
    }

}());
</script>



      </div>
    </div>
  </div>


    <script src="../../static/assets/js/jquery.min.js"></script>
    <script src="../../static/assets/js/tablesorter.min.js"></script>
    <script src="../../static/assets/js/toolkit.js"></script>
    <script src="../../static/assets/js/application.js"></script>
    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>


  </body>
</html>
